body {
    background-color:bisque;
}

h1 {
    color: red;
    font-size: 72px;
}

p {
    font-size: 28px;
    color: green
}

p a {
    color: pink;
    text-decoration: none;
}

#boba {
    color: blue;
}

.bright {
    color:yellow;
}

